.formatting {
  color: rgba(0, 0, 255, 0.3);
}

.predicted,
.error {
  border-radius: 3px;
}

.predicted {
  background-color: #ff990062;
}

.error,
.first {
  border-width: 2px;
  border-style: solid;
}

.error {
  border-color: #f00;
}

.first {
  border-color: #00f;
}

.error.first {
  border-color: #0f0;
}

.selected {
  background-color: #003cff77;
}
